<h1 style="color: red;margin: 0 400px;font-weight: bolder ;">Welcome To Medicare </h1>
<br>
<h2 style="color:deeppink;margin: 0 10px;font-weight: bolder;">Services Provided By Medicare:</h2>
<br>
<h2 style="color:green;margin: 0 10px;font-weight: bolder;">Doorstep Delivery:</h2>
<p style="color: black;margin:16px 16px;font-weight: bold;">
    Buy medicines online at affordable prices from the comforts of your home in just a few clicks and get them delivered at your doorstep.</p>
    <br>
    <h2 style="color:purple;margin: 0 10px;font-weight: bolder;">Affordable Prices:</h2>
    <p style="color: black;margin:16px 16px;font-weight: bold;">
      Medicare provides medicines at low prices. The entire process of shopping for medicines is hassle-free an convenient.</p>
      <br><br>
      <button style="border: 5px solid blue;border-radius: 5px;background-color: blue;margin: 0 700px;" (click)="onClickHandler()">Login</button>
